<?xml version="1.0" encoding="UTF-8"?>

<suite name="IC" parallel="tests" thread-count="1">

	<test name="Window1">
		<classes>
			<parameter name="FeatureName" value="/restService.feature"></parameter>
			<parameter name="tags" value="@SmokeTest"></parameter>
			<class name="com.bdd.utilities.Runner"></class>
		</classes>
	</test>

	
	<!--<test name="Window2">
		<classes>
			<parameter name="FeatureName" value="/soapService.feature"></parameter>
			<parameter name="tags" value="@SmokeTest"></parameter>
			<class name="com.bdd.utilities.Runner"></class>
		</classes>
	</test> 

		<test name="Window3">
		<classes>
			<parameter name="FeatureName" value="/login.feature"></parameter>
			<parameter name="tags" value="@SmokeTest"></parameter>
			<class name="com.bdd.utilities.Runner"></class>
		</classes>
	</test> 
	
		<test name="Window4">
		<classes>
			<parameter name="FeatureName" value="/search.feature"></parameter>
			<parameter name="tags" value="@SmokeTest"></parameter>
			<class name="com.bdd.utilities.Runner"></class>
		</classes>
	</test> -->
</suite>